body{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.footer{
	background: #16254C;
	padding-top: 100px;
  	z-index: 1;
}
.footer img{
	width: 60%;
	height: auto;
}
.address-contact{
	padding: 0px;
	text-align: justify;
}
.address-contact li{
	list-style: none;
	line-height: 2;
}
.address-contact a{
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}
.map{
	background: url('../images/ico-map.png');
	background-repeat: no-repeat;
	padding: 0px 30px;
}
.email{
	background: url('../images/ico-mail.png');
	background-repeat: no-repeat;
	padding: 0px 30px;
}
.phone{
	background: url('../images/ico-phone.png');
	background-repeat: no-repeat;
	padding: 0px 30px;
}
.button-app img{
	width: auto;
    margin: 5px 0;
}
.scommerce img{
	margin: 15px 0;
}
.line-greywhite{
    margin: 10px 0;
	border: 1px solid #b3bac9;
}
.content-footer{
	padding-top: 20px;
	text-align: center;
	color: #fff;
}
.triangular{
	background: url('../images/tamgiac-footer.png');
	background-repeat: no-repeat;
	background-position: bottom;
	height: 218px;
	bottom: 0;
}