body{

}
.card-shipper{
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-shipper:hover{
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}
.line-orange{
	border: 3px solid #f15f22;
	border-radius: 100px;
	width: 8%;
}
.line-orange-2{
	border: 3px solid #f15f22;
	border-radius: 100px;
	width: 10%;
	margin: 5px 0;
}
.card-shipper img{
	width: 100%;
	height: 100%;
}
.title-shipper {
    color: #F26522;
    font-weight: bold;
    font-size: 46px;
    text-align: right;
}
.circle-number{
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background: #F26522;
	text-align: center;
    margin: auto 30px;
    font-size: 28px;
    font-weight: bold;
    line-height: 80px;
    color: #4D4C4D; 
}
.text-proceduce{
	margin: 10px 0px;
	font-size: 20px;
	font-weight: bold;
	color: #4D4C4D;
}
.boderorange-shipper{
	border-radius: 10px;
	height: 5px;
	background-color: #F26522;
	width: 22%;
}

.timeline-wrapper
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.shipperfast-background{
	background: url('../images/banner-shipper.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -520px 100px;
	width: 100%;
}

