body{

}

.card-team {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  height: 570px;
}

/* On mouse-over, add a deeper shadow */
.card-team:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-team img{
  width: 100%;
  border-radius: 10px;
}

.caption{
  padding: 40px;
  color: #000;
}

.caption ul li{
  list-style: none;
  line-height: 2;
}

.caption p{
  padding: 10px 0;

}

.title-contentteam{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #F26522;
}

.textahamove-organe{
  color: #F26522;
  font-weight: bold;
}

.text-grey{
  color: #4D4C4D;
  font-weight: bold;
}

.text-gist{
  text-align: justify;
  margin: 0;
  padding: 0;
}